html, body {
    height: 100%;
    max-width: 100%;
    min-width: 606px;
    margin: 0;
    background: linear-gradient(135deg, rgb(33, 104, 114) 10%, rgb(126, 182, 163) 100%);
    background-attachment: fixed;
}

header {
    height: 260px;
    background:linear-gradient(rgb(212, 102, 83), rgb(212, 102, 83, 0));
}

header h1 {
    font-family: "Fredericka the Great", Fantasy;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 2px rgb(41, 40, 40);
}

.green {
    color: rgb(126, 182, 163);
}

.pink {
color: rgb(228, 187, 180);
}

#tilt {
    float: center;
    margin: auto;
    transform: rotate(-5deg);
    line-height: 10px;
    text-shadow: 3px 3px 1px rgb(17, 17, 17); 
}

header nav {
    position: relative;
    top: 20px;
    max-width: 720px;
    min-width: 480px;
    margin: auto;
    text-align: center;
}

header nav a {
    font-family: 'Fredericka the Great', fantasy;
    color: black;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
    transition: all 1s ease;
}

header nav a:hover {
    text-shadow: 1px 1px 1px ;
    color: white;
}

/*
header hr {
    height: 25px;
    max-width: 720px;
    -moz-background: url(https://i.imgur.com/3xQZcVn.png) round;
    background: url(https://i.imgur.com/3xQZcVn.png) round;
    opacity: .5;
    border: 0;
    margin: 20px 40px 20px 40px;
} */

main {
    max-width: 720px;
    min-width: 606px;
    margin: auto;
}

section {
    max-width: 720px;
    min-width: 200px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 40px;
    background-color: rgba(164, 209, 194, 0.3);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(77, 76, 76);
    /* CLEAR FIX */
    content: "";
    display: table;
    clear: both;
}

section h2 {
    font-family: 'Fredericka the Great', fantasy;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 15px 0 20px 0;
}

section p {
    font-family: 'Josefin Slab';
    font-size: 18px;
}

section div {
    border: 1px black dashed;
    text-align: center;
    border-radius: 4px;
    height: 150px;
    width: 150px;
    float: left;
    margin: 5px;
    padding: 20px 0 0 0;
    box-sizing: border-box;
    transition: all 1.5s ease;
}

.locations div:hover {
    background-color: rgba(162, 223, 203, 0.61);
}


section div h3 {
    display: inline-block;
    top: 5px;
    margin-bottom: 10px;
    font-family: 'Josefin Slab';
    font-size: 18px;
    font-weight: bold;
}

section div p, section div a {
    font-size: 14px;
    margin-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 24px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(54, 85, 88, 0.384);
}

/* ======
   TABLES
   ======*/

   table {
    border: 1px black solid;
    margin: auto;
}

td {
    font-family: 'Chakra Petch';
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
}

th {
    font-family: 'Josefin Slab';
    font-weight: 400;
}

tr {
    transition: all 1.75s ease;
}

tbody tr:hover, tfoot tr:hover { /* Excludes thead from highlighting */
    background-color: rgba(162, 223, 203, 0.61);
}

/*=====
  FORMS
  =====*/

form {
    max-width: 500px;
    min-width: 300px;
    margin: 30px auto;
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(98, 98, 98, 0.109);
}

legend {
    font-family: 'Fredericka the Great';
    /* font-weight used to keep Google Font in header from appearing bold */
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label, form p {
    font-family: 'Josefin Slab'; 
}

input {
    background-color: rgba(154, 187, 176, 0.561);
    border-radius: 5px;
}

.number-input {
    width: 50px;
}

.clear-fix {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0);
    z-index: -1;
}

footer {
    clear: both;
}

