html, body {
    height: 100%;
    max-width: 100%;
    min-width: 606px;
    margin: 0;
    background: linear-gradient(135deg, rgb(33, 104, 114) 10%, rgb(126, 182, 163) 100%);
    background-attachment: fixed;
}

header, main {
    max-width: 720px;
    min-width: 606px;
    margin: auto;
    text-align: center;
}

header h1 {
    font-family: 'Fredericka the Great', fantasy;
    font-size: 48px;
    font-weight: 400;
    max-width: 720px;
    min-width: 480px;
    margin: 0px 40px;
    text-align: center;
}

header nav {
    max-width: 720px;
    min-width: 480px;
    margin: auto;
    text-align: center;

}
header nav a {
    /* TEXT */
    font-family: 'Fredericka the Great', fantasy;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    /* POSITION */
    margin: 10px;
    transition: all 0.5s ease;
}

header nav a:hover {
    text-shadow: 1px 1px 2px ;
}

header hr {
    height: 25px;
    max-width: 720px;
    background: url(https://i.imgur.com/3xQZcVn.png) round;
    opacity: .5;
    border: 0;
    margin: 20px 40px 20px 40px;
}

section {
    max-width: 720px;
    min-width: 480px;
    margin: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(104, 206, 219, 0.3);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(77, 76, 76);
    /* CLEAR FIX */
    content: "";
    display: table;
    clear: both;
}

section h2 {
    font-family: 'Fredericka the Great', fantasy;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

section p {
    font-family: 'Josefin Slab';
    font-size: 18px;
}

section div {
    border: 1px black dashed;
    border-radius: 4px;
    height: 150px;
    width: 150px;
    float: left;
    margin: 5px;
    padding: 5px;
    transition: all 1.5s ease;
}

.locations div:hover {
    background-color: rgba(104, 206, 219);
}


section div h3 {
    font-family: 'Josefin Slab';
    font-size: 18px;
    font-weight: bold;
}

section div p {
    font-size: 14px;
}

#clear-fix {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0);
    z-index: -1;
}

footer {
    clear: both;
}

